<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>系统首页</title>
</head>
<body>
<!-- ======================  Header = start  ============================-->

<div class="hello-box">
    {include file="public/header"}

    <!--大屏部分-->
    <div class="jumbotron bg-transparent " >
        <p class="text-center">
            <img src="/static/home/images/test.jpg" class="rounded-circle img-thumbnail" width="150px" height="150px" alt="头像"/>

        </p>
        <h1 class="display-3 text-white text-center">系统首页</h1>
        <p class="lead text-white text-center">正在开发中...</p>
        <hr class="my-4">
        <p class="text-white text-center">系统后台管理</p>
        <p class="lead text-center">
            <a class="btn btn-primary btn-lg " href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<!-- -----------------------  Header = end  ----------------------------->



<!-- ======================  Body = start  ============================-->
<section class="">







    <div class="container">


    </div>


</section>

<!-- -----------------------  Body = end  ----------------------------->



<!-- ======================  Footer = start  ============================-->
<section class="">

</section>
<!-- -----------------------  Footer = end  ----------------------------->
</body>
</html>