<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑用户信息</title>
</head>
<body class="body-bg">

<!-- ================= Header start ================= -->

<header id="">
    {include file="public/header"}
</header>


<!-- ----------------- Header end ------------------- -->


<form action="/index.php/index/homework/api_editHomeworkDoWith?id={$data.id}" method="get">


    <div class="form-group">
        <label>id</label>
        <!--<input type="hidden" name="_method" value="PUT">-->
        <input type="text" name="id" id="id" class="form-control" value="{$data.id}">
    </div>

    <div class="form-group">
        <label>date</label>
        <input type="text" name="date" id="date" class="form-control" value="{$data.date}">
    </div>

    <div class="form-group">
        <label>title</label>
        <input type="text" name="title" id="title" class="form-control" value="{$data.title}">
    </div>

    <div class="form-group">
        <label>content</label>
        <input type="text" name="content" id="content" class="form-control" value="{$data.content}">
    </div>

    <div class="form-group">
        <label>tag</label>
        <input type="text" name="tag" id="tag" class="form-control" value="{$data.tag}">
    </div>

    <div class="form-group">
        <label>uid</label>
        <input type="text" name="uid" id="uid" class="form-control" value="{$data.uid}">
    </div>

    <div class="form-group">
        <label>remind_date</label>
        <input type="text" name="remind_date" id="remind_date" class="form-control" value="{$data.remind_date}">
    </div>

    <div class="form-group">
        <label>remind_time</label>
        <input type="text" name="remind_time" id="remind_time" class="form-control" value="{$data.remind_time}">
    </div>



    <div class="form-group">
        <input type="submit" value="修改" class="btn btn-success">
        <input type="reset" value="重置" class="btn btn-danger">
        <a href="{:url('/index/user')}">返回用户首页</a>
    </div>

</form>
</body>
</html>