<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body class="body-bg">

<!-- ================= Header start ================= -->

<header id="">
    {include file="public/header"}
</header>


<!-- ----------------- Header end ------------------- -->



<center>
<form action="/index.php/index/user/modifyPasswordDoWith" method="post" style="width: 20%">

    <input type="text" hidden="hidden" name="uid" value="{$uid}">

    <div class="form-group">
        <label>PASSWORD</label>
        <input type="text" name="password" id="password" class="form-control">
    </div>

    <div class="form-group">
        <input type="submit" value="修改" class="btn btn-success">
        <input type="reset" value="重置" class="btn btn-danger">
    </div>

</form>

</center>
</body>
</html>